
@using System.Threading
@using System.Web.Optimization
@using Abp.Timing
@using Abp.Web.Mvc.Extensions
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>收收</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="人类回收资源,资源服务人类">
    <link rel="stylesheet" href="~/lib/weui.min.css">
    @Styles.Render("~/Bundles/cus_css")
</head>
<body ontouchstart>
    <div class="weui_msg">
        <div class="weui_icon_area"><i class="weui_icon_success weui_icon_msg"></i></div>
        <div class="weui_text_area">
            <h2 class="weui_msg_title">订单提交成功</h2>
            <p class="weui_msg_desc">为方便联系，请保持电话畅通！</p>
        </div>
    </div>
    <script src="~/lib/jquery-2.1.4.js"></script>
    <script src="~/lib/fastclick.js"></script>
    <script src="~/js/jquery-weui.js"></script>
</body>
</html>
